﻿@{
    Layout = "_Layout";

    ViewData["Title"] = "Přidat problém";
}

<form method="post" action="/Poznamka/Pridat">
    <input type="text" name="nadpis" placeholder="Nadpis..." /><br />
    <textarea name="telo" placeholder="Tělo problému..."></textarea><br />
    <input type="submit" value="Přidat problém" />
</form>
<a href="/Uzivatel/Profil">Zpět na profil</a>