@{
    Layout = "_Layout";
    ViewData["Title"] = "Úvod";
}

<div class="text-center">
    <h1 class="display-4">Vítejte v Poznámkách</h1>
</div>

<a href="/Uzivatel/Prihlasit">Přihlásit se</a> <br />
<a href="/Uzivatel/Registrovat">Registrovat se</a> <br />