@model WebPoznamky.Models.Uzivatel
@{
    Layout = "_Layout";

    ViewData["Title"] = "Profil"; 
}

<p>Vítejte na Profilu, <b>@Model.Jmeno</b></p>
<a href ="/Uzivatel/Odhlasit">Odhlášení</a>
<a href="/Poznamka/Pridat">Přidat poznámku</a>
<a href="/Poznamka/Vsechny">Všechny poznámky</a>